<template>
  <v-container fluid>
    <span class="text-h1">Supply Chain Dashboard</span>
    <TheBreadcrumb />
    <router-view></router-view>
  </v-container>
</template>

<script>
import TheBreadcrumb from "/src/components/TheBreadcrumb";

export default {
  name: "TheDashboard",
  components: { TheBreadcrumb},

  data: () => ({}),
};
</script>