<template>
  <transition-group appear name="shrinky" mode="out-in">
    <TileSection
      v-for="section in this.dashboard"
      :key="section.section"
      :title="section.section"
      :link="section.link"
      :tiles="section.tiles"
    />
  </transition-group>
</template>

<script>
import TileSection from "/src/components/TileSection";
import customSection from "/src/helpers/dashboard-custom-section";

export default {
  name: "DashboardView",
  components: {
    TileSection,
  },
  props: {
    dashboardSections: Array,
  },
  computed: {
    dashboard() {
      let dashboardData = require("/src/dashboard-data").default;
      let dashboard = [
        // include the favourites section if it's part of the dashboardSections prop
        // clever short circuit evaluation going on here. 'if a && b' returns b if a and b are both truthy
        // actually, this only works for objects,
        // for arrays, it needs to be ...(condition ? [result_if_true] : [])
        ...(this.$store.state.user.alwaysFavs ||
        this.dashboardSections.includes("Favourites")
          ? customSection(
              "Favourites",
              this.$store.state.user.favourites,
              "/favourites"
            )
          : []),
        // include the static dashboard sections
        ...dashboardData.filter((sections) =>
          this.dashboardSections.includes(sections.section)
        ),
      ];
      // any section passed via props that doesnt exist in the data is just ignored
      return dashboard;
    },
  },
  data: () => ({}),
};
</script>

<style scoped>
.shrinky-enter-active,
.shrinky-leave-active {
  transition: all 0.5s;
  max-height: 500px;
}
.shrinky-enter,
.shrinky-leave-to {
  opacity: 0;
  max-height: 0px;
}
</style>
