<template>
  <v-btn
    fab
    x-small
    absolute
    icon
    right
    class="fav-button btn-fix"
    @click.prevent="toggleFavourite"
  >
    <div v-if="this.active">
      <v-icon v-if="this.isFavourite">mdi-heart</v-icon>
      <v-icon v-else>mdi-heart-outline</v-icon>
    </div>
  </v-btn>
</template>

<script>
export default {
  name: "FavouriteButton",
  props: {
    active: Boolean,
    id: String,
    targetName: String,
  },
  computed: {
    isFavourite: function () {
      return this.$store.getters["user/isFavourite"](this.id);
    },
  },
  data: () => ({}),
  methods: {
    toggleFavourite() {
      this.$store.commit("user/toggleFavourite", this.id);
      let added = this.$store.getters["user/isFavourite"](this.id);
      this.$toasted.show(
        (added ? "Added " : "Removed ") +
          this.targetName +
          (added ? " to " : " from ") +
          "favourites",
        {
          //type: "info",
          duration: 3000,
          keepOnHover: true,
          action: {
            text: "Undo",
            onClick: (e, toastObject) => {
              this.$store.commit("user/toggleFavourite", this.id);
              toastObject.goAway(0);
            },
          },
        }
      );
    },
  },
};
</script>

<style>
.v-btn--absolute.v-btn--right.fav-button {
  bottom: 2px;
  right: 3px;
}
.btn-fix:focus::before {
  opacity: 0 !important;
}
</style>