<template>
  <v-row>
    <v-col align="left">
      <highcharts
        :options="chartOptions"
        class="highchart-container"
      ></highcharts>
    </v-col>
  </v-row>
</template>

<script>
import _merge from "lodash/merge";
import defaultOptions from "/src/charts/glance-defaults";

const options = _merge({}, defaultOptions, {
  chart: {
    type: "bullet",
    inverted: true,
    height: "60px",
    marginBottom: 25,
  },
  tooltip: {
    headerFormat: "",
  },
  //colors: ["#EE4C49", "#F4CD18", "#8CC656"],
  plotOptions: {
    series: {
      pointPadding: 0.25,
      borderWidth: 0,
      color: "#444",
      targetOptions: {
        width: "200%",
      },
    },
  },
  yAxis: {
    visible: true,
    gridLineWidth: 0,
    labels: {
      enabled: false,
    },
    title: {
      enabled: false,
    },
    plotBands: [
      {
        from: 0,
        to: 70,
        color: "#FAC8C7",
      },
      {
        from: 70,
        to: 90,
        color: "#FAE99E",
      },
      {
        from: 90,
        to: 100,
        color: "#D5EBC2",
      },
    ],
    // title: null
  },
  series: [
    {
      data: [
        {
          y: 73,
          target: 95,
        },
      ],
    },
  ],
});

export default {
  name: "GlanceChartBullet",
  props: {},
  data: function () {
    return {
      chartOptions: options,
    };
  },
};
</script>

<style scoped>
.highchart-container {
  width: 100% !important;
  height: 100% !important;
}
</style>