<template>
  <v-row>
    <v-col align="left">
      <highcharts
        :options="chartOptions"
        class="highchart-container"
      ></highcharts>
    </v-col>
  </v-row>
</template>

<script>
import _merge from "lodash/merge";
import defaultOptions from "/src/charts/glance-defaults";

const options = _merge({}, defaultOptions, {
  chart: {
    type: "bar",
  },
  tooltip: {
    headerFormat: "",
  },
  colors: ["#EE4C49", "#F4CD18", "#8CC656"],
  plotOptions: {
    series: {
      stacking: "normal",
    },
    bar: {
      borderWidth: 0,
    },
  },
  series: [
    {
      name: "High",
      data: [10],
    },

    {
      name: "Medium",
      data: [25],
    },
    {
      name: "Low",
      data: [50],
    },
  ],
});

export default {
  name: "GlanceChartBar",
  props: {},
  data: function () {
    return {
      chartOptions: options,
    };
  },
};
</script>


<style scoped>
.highchart-container {
  width: 100% !important;
  height: 100% !important;
}
</style>