<template>
  <v-row>
    <v-col align="left">
      <highcharts
        :options="chartOptions"
        class="highchart-container"
      ></highcharts>
    </v-col>
  </v-row>
</template> 

<script>
import _merge from "lodash/merge";
import defaultOptions from "/src/charts/glance-defaults";

const options = _merge({}, defaultOptions, {
  chart: {
    type: "item",
  },
  tooltip: {
    pointFormat: "{point.y}",
  },
  colors: ["#EE4C49", "#F4CD18", "#8CC656"],
  plotOptions: {
    series: {
      // Circular options
      center: ["50%", "75%"],
      size: "200%",
      startAngle: -100,
      endAngle: 100,
      dataLabels: {
        enabled: false,
      },
    },
  },
  series: [
    {
      name: "Loan Risks",
      keys: ["name", "y", "color", "label"],
      data: [
        ["Low", 20, "#8CC656"],
        ["Medium", 33, "#F4CD18"],
        ["High", 12, "#EE4C49"],
      ],
    },
  ],
});

export default {
  name: "GlanceChartParliament",
  props: {},
  data: () => ({
    chartOptions: options,
  }),
};
</script>

<style scoped>
.highchart-container {
  width: 100% !important;
  height: 100% !important;
}
</style>