<template>
  <v-icon class="tile-icon-mdi" color="light-blue lighten-3" size="48px">
    {{ this.content.icon }}
  </v-icon>
</template>

<script>
export default {
  name: "IconMDI",
  props: {
    content: {
      type: Object,
      default: function () {
        return { icon: "mdi-chart-multiple" };
      },
    },
    scale: {
      type: Number,
      default: 1,
    },
  },
  data: () => ({}),
};
</script>

<style scoped>
.tile-icon-mdi {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
</style>