<template>
  <v-img
    class="tile-icon-img"
    :class="this.$vuetify.theme.dark ? 'tile-icon-img-dm' : ''"
    :src="require('/public/' + this.content.img)"
  ></v-img>
</template>

<script>
export default {
  name: "IconImg",
  props: {
    content: {
      type: Object,
      default: function () {
        return { img: "default_app.png" };
      },
    },
  },
  data: () => ({}),
};
</script>
<style scoped>
.tile-icon-img {
  filter: saturate(75%);
  height: 48px;
  width: 48px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.tile-icon-img-dm {
  filter: saturate(100%);
}
</style>