<template>
  <v-row>
    <v-col class="text-center">
      <span class="kpi">{{ this.count }}</span>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "InsightsGlance",
  data: () => ({}),
  computed: mapState(["count"]), // shortcut to map this.$state.count to this.count
};
</script>

<style scoped>
.kpi {
  color: blue;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}
</style>