<template>
  <v-snackbar v-model="isVisible" :timeout="timeout">
    {{ snackText }}
    <template v-slot:action="{ attrs }">
      <v-btn
        v-if="action"
        color="blue"
        text
        v-bind="attrs"
        @click="takeAction(action)"
      >
        {{ actionText }}
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  name: "NotificationSnack",
  props: {
    actionText: {
      type: String,
      default: "ok",
    },
    snackText: {
      type: String,
      default: "Something happened...",
    },
  },
  data: () => ({
    timeout: 3000,
    isVisible: false,
    action: function () {},
  }),
  watch: {
    "$store.state.session.lastAction": function (lastAction) {
      this.isVisible = lastAction;
    },
  },
  methods: {
    takeAction(action) {
      this.isVisible = false;
      action();
    },
  },
};
</script>