<template>
  <v-breadcrumbs :items="this.crumbs" class="pa-2"></v-breadcrumbs>
</template>

<script>
export default {
  name: "TheBreadcrumb",
  data: () => ({}),
  computed: {
    // Build the Breadcrumbs trail from the current path
    crumbs: function () {
      return this.$route.path
        .split("/")
        .filter((item) => item) // remove the first part of the path
        .map((crumb, i, crumbs) => {
          return {
            text:
              i == 0
                ? "Home"
                : (() =>
                    // convert path element to CamelCase and replace "-" with " "
                    crumb
                      .split("-")
                      .map(
                        (word) => word.charAt(0).toUpperCase() + word.slice(1)
                      )
                      .join(" "))(),
            disabled: i == crumbs.length - 1,
            exact: true,
            to: (() => {
              let path = "";
              for (let z = 0; z <= i; z++) {
                path += "/" + crumbs[z];
              }
              return path + "/";
            })(),
          };
        });
    },
  },
};
</script>