<template>
  <v-container fluid class="py-1">
    <v-row class="pb-2 pl-0">
      <v-col class="pb-2" cols="12">
        <!-- Title allows expanding or contracting of tile -->
        <span class="text-h2">
          {{ title }}
          <v-btn icon @click="expanded = !expanded" class="btn-fix">
            <v-icon>
              {{ expanded ? "mdi-chevron-up" : "mdi-chevron-right" }}
            </v-icon>
          </v-btn>
        </span>
      </v-col>
    </v-row>
    <v-expand-transition>
      <!-- Transition element is also the row element in the grid -->
      <v-row dense>
        <v-col cols="12">
          <v-fab-transition
            appear
            group
            tag="div"
            v-show="expanded"
            :hide-on-leave="true"
          >
            <TileItem
              v-for="tile in this.tiles"
              :id="tile.id"
              :title="tile.title"
              :key="title + tile.id"
              :link="tile.link"
              class="pa-1"
            >
              <!-- #name is shorthand for v-slot:name -->
              <template #description>{{ tile.description }}</template>
              <template #content>
                <component
                  :is="tile.contentComponent"
                  :content="tile.contentProps"
                ></component>
              </template>
              <template #action>{{ tile.action }}</template>
            </TileItem>
          </v-fab-transition>
        </v-col>
      </v-row>
    </v-expand-transition>
  </v-container>
</template>

<script>
import TileItem from "../components/TileItem";

export default {
  name: "TileSection",
  components: {
    TileItem,
  },
  props: {
    title: String,
    link: String,
    tiles: Array,
  },
  data() {
    return {
      expanded: true,
    };
  },
};
</script>
<style scoped>
.link-section {
  text-decoration: none;
  display: inline-block;
}

.btn-fix:focus::before {
  opacity: 0 !important;
}
</style>
