<template>
  <!-- if the tile has a link prop, make it a router link, else just wrap it in a div -->
  <component
    :is="link ? 'router-link' : 'div'"
    :to="link ? link : undefined"
    class="link-tile"
  >
    <v-card
      tile
      class="d-flex align-stretch pa-2 tile-card"
      :class="this.isActive ? 'animate__animated animate__pulse ' : ''"
      :color="
        this.$vuetify.theme.dark
          ? isActive
            ? 'grey darken-2'
            : 'grey darken-3'
          : isActive
          ? 'grey lighten-4'
          : 'white'
      "
      @mouseover="isActive = true"
      @mouseleave="isActive = false"
      :elevation="isActive ? '3' : '1'"
    >
      <v-container class="pa-0 d-flex flex-column">
        <div class="tile-title">
          {{ title }}
        </div>
        <div
          class="tile-description grey--text"
          :class="
            this.$vuetify.theme.dark ? 'text--lighten-1' : 'text--darken-2'
          "
        >
          <slot name="description"></slot>
        </div>
        <div class="tile-content flex-grow-1">
          <slot name="content"></slot>
        </div>
      </v-container>
      <FavouriteButton
        :active="this.isActive"
        :id="this.id"
        :targetName="this.title"
      />
    </v-card>
  </component>
</template>

<script>
import FavouriteButton from "./FavouriteButton.vue";

export default {
  components: { FavouriteButton },
  name: "TileItem",
  props: {
    id: String,
    link: String,
    title: String,
  },
  data: () => ({
    isActive: false,
  }),
};
</script>

<style scoped>
.link-tile {
  text-decoration: none;
  display: inline-block;
}
.tile-description {
  line-height: 105%;
}
.tile-content {
  position: relative;
}
.tile-card {
  font-size: 14px;
  width: 140px;
  height: 140px;
}
</style>
