<template>
  <v-app>
    <v-navigation-drawer app permanent>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">SCB Dashboard</v-list-item-title>
          <v-list-item-subtitle>Demo setup</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-divider></v-divider>
      <v-list>
        <v-subheader>User Options</v-subheader>
        <v-list-item>
          <v-switch label="Dark mode" v-model="darkMode"></v-switch>
        </v-list-item>
        <v-list-item>
          <v-switch
            label="Always show favourites"
            v-model="alwaysFavs"
          ></v-switch>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container fluid class="px-8">
        <v-row>
          <router-view></router-view>
        </v-row>
      </v-container>
    </v-main>
    <NotificationSnack />
  </v-app>
</template>

<script>
import NotificationSnack from "/src/components/NotificationSnack";

export default {
  name: "App",
  data: () => ({
    //
  }),
  components: {
    NotificationSnack,
  },
  created: function () {
    this.$vuetify.theme.dark = this.$store.state.user.darkMode;
  },
  computed: {
    darkMode: {
      get: function () {
        return this.$store.state.user.darkMode;
      },
      set: function (val) {
        this.$store.commit("user/setDarkMode", val);
      },
    },
    alwaysFavs: {
      get: function () {
        return this.$store.state.user.alwaysFavs;
      },
      set: function (val) {
        this.$store.commit("user/setAlwaysFavs", val);
      },
    },
  },
  watch: {
    darkMode(val) {
      this.$vuetify.theme.dark = val;
    },
  },
};
</script>

<style>
.toasted-container {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
</style>